$.Dialog({
'title':   'Serial Guitar',
'content': '#{j render :partial => 'form_select'}',
'draggable'   : true,
'overlay'     : true,
'closeButton' : true,
'position': {
'zone' : 'center'
},
'buttons': {
'Ok' : {
'action' : function(){}
}
}
});

find_guitar();
