.login-indicator
  - if employee_signed_in?
    = current_employee.nickname
    |
    = link_to('Logout', destroy_employee_session_path, :method => :delete)
  - else
    = link_to('Login', new_employee_session_path)
