<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">MW Guitars</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><%= link_to '销售单', sales_sheets_path %></li>
          <li><%= link_to '报表', reports_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
      <%= render 'shared/login_indicator' %>
    </div>
  </div>
</div>
