<p id="notice"><%= notice %></p>

<p>
  <b>Operator:</b>
  <%= @accounting_document.operator %>
</p>


<%= link_to 'Edit', edit_accounting_document_path(@accounting_document) %> |
<%= link_to 'Back', accounting_documents_path %>
