<div class="page-header">
  <div class="page-header-content">
    <h2>Home</h2>
  </div>
</div>

<div class="page-region">
  <div class="page-region-content">
    Welcome!
  </div>
</div>

