<div class="page-region">
  <div class="page-region-content">
    <div class="tile double bg-color-blueDark outline-color-green">
      <a href='serial_products'>
      <div class="tile-content">
        <h2>Serial Product</h2>
        <h5>编号产品</h5>
        <p>已编号的产品列表</p>
      </div>
      <div class='brand'>
        <div class='badge'>5000</div>
        <div class='icon'><i class='icon-bookmark-2'></i></div>
      </div>
    </a>
    </div>
    <div class='tile bg-color-orangeDark'>
      <a href='guitars'>
      <div class='tile-content'>
        <h2>Guitars</h2>
        <h5>吉他</h5>
        <p>所有吉他列表</p>
      </div>
    </a>
    </div>
    <div class='tile bg-color-red icon'>
      <div class='tile-content'>
        <i class='icon-home'></i>
      </div>
      <a href='warehouses'>
      <div class='brand'>
        <span class='name'>仓库</span>
        <div class='badge'>10</div>
      </div>
    </a>
    </div>
    <div class='tile bg-color-red icon'>
      <div class='tile-content'>
        <i class='icon-home'></i>
      </div>
      <a href='godown_entries'>
      <div class='brand'>
        <span class='name'>入库单</span>
        <div class='badge'>10</div>
      </div>
    </a>
    </div>
    <div class='tile bg-color-red icon'>
      <div class='tile-content'>
        <i class='icon-home'></i>
      </div>
      <a href='customers'>
      <div class='brand'>
        <span class='name'>客户</span>
        <div class='badge'>10</div>
      </div>
    </a>
    </div>
    <div class='tile bg-color-red icon'>
      <div class='tile-content'>
        <i class='icon-home'></i>
      </div>
      <a href='sales_sheets'>
      <div class='brand'>
        <span class='name'>销售单</span>
        <div class='badge'>10</div>
      </div>
    </a>
    </div>

  </div>
</div>

