<script>
  var navigation;
  $(function(){  navigation = responsiveNav("#nav"); });
</script>

<h2>Index</h2>
<div id="nav">
  <ul>
    <li><a href="/serial_products">Serial Products</a></li>
    <li><a href="/guitars">Guitars</a></li>
    <li><a href="/photos">Photos</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>