| $.Dialog({
| 'title':   'Select Product',
| 'content': '#{j render :partial => 'form_select'}',
| 'draggable'   : true,
| 'overlay'     : true,
| 'closeButton' : true,
| 'position': {
| 'zone' : 'center'
| },
| 'buttons': {
| 'Ok' : {
| 'action' : function(){}
| }
| }
| });

| autocomplete_find('products');
