  - content_for :head do
    /![if lte IE 8] <script language="javascript" type="text/javascript" src="/css/flot/excanvas.min.js"></script
    script language="javascript" src="/css/flot/flot.js" type="text/javascript" 
    script language="javascript" src="/css/flot/flot.pie.js" type="text/javascript" 
    javascript:
      | $(function() {
            | var data = [];
      			| var series = Math.floor(Math.random() * 6) + 3;
      
      		| for (var i = 0; i < series; i++) {
      			| data[i] = {
      				| label: "Series" + (i + 1),
      				| data: Math.floor(Math.random() * 100) + 1
      			| }
      		| }
      
      		| var placeholder = $("#diagram");
      
        	| placeholder.unbind();
      		| $.plot(placeholder, data, {
      				| series: {
      					| pie: {
      						| show: true
      					| }
      				| }
      			| });
            | });
  .diagram-container
    #diagram.diagram-placeholder
