%ul
  %li
    %a{:href => "reports/sales_yearly"} 销售年报表
  %li
    %a{:href => "reports/sales_monthly"} 销售月报表
  %li
    %a{:href => "reports/sales_daily"} 销售日报表
  %li
    %a{:href => "reports/sales_catalog"} 销售分类报表

