<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Gshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'print_view', :media => :all %>
    <%= stylesheet_link_tag 'print', :media => :print %>
    
  </head>
  <body>
      <%= yield %>
  </body>
</html>

